# Python / Flask
/backend/venv/
/backend/__pycache__/
/backend/migrations/
/backend/uploads/
/backend/app.db*
/backend/.flaskenv
/backend/.env

# Node.js / React
/frontend/node_modules/
/frontend/build/

# Editor / OS
.vscode/
.DS_Store